.nav-main {
    display: flex;
    justify-content: center;
    background: $blackColor;

    &__list {}

    &__item {
        display: inline-block;
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        padding: 20px 30px;
        display: block;
        color: $KashmirBlue;


        &_active {
            background: $CoralRed;
        }
    }
}
